@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">OBS</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/Kategori/ListCategories">Kategori İşlemleri</a></li>
                <li><a href="/Urun/ListProducts">Ürün İşlemleri</a></li>
                <li><a href="/Musteri/ListCustomers">Müşteri İşlemleri</a></li>
                <li><a href="/Satis/ListSelling">Satış İşlemleri</a></li>
                <li><a href="/Uye/LogOut">Çıkış Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
       @RenderBody()
    </div>

</body>
</html>